@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');
*{
    font-family: 'Roboto';
    line-height: 1.8;
    margin-top: 0px;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
html{
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav {
    position: relative;
    width: 100%;
    padding : 20px 0px ; 
    z-index: 3000;
}

body{  
    background-image: url("./template/img/background.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-attachment: fixed;
}
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
}
header h1{
    font-size: 70px;
    color: #fff;
}
main{
    background-color:rgb(0, 9,43, 1) ;
    margin:  0 3% ;
    padding: 3%;
    color: white;
    z-index: 1000;
    display: flex;
    align-items: flex-start;
}
.side-bar ul:first-child {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 10;
    margin: 0;
    width: 220px;
    height: 500px;
    align-items: flex-start;
    justify-content: space-evenly;
    
}
.side-bar{
    background-color: rgb(56, 56, 63);
    margin: 30px 30px 0 0;
    position: sticky;
    
}
.side-bar a{
    font-size: 20px;
}
.sous-nav{
    list-style: none;
    padding: 0 10px;
    line-height: 1.5;
}
.sous-nav a{
    font-size: 17px;
}

main a:hover{
    color: pink;
}
p{
    font-size: 20px;
}
h2{
    font-size: 30px;
}
h3{
font-size: 23px;
}
body::-webkit-scrollbar{
    width: 10px;
    /* changer la taille de la scroll bar l'affiner */

}
/* ce block css est fait pour changer la structure de la barre de scroll*/
body::-webkit-scrollbar-track{
    background-color: gray;
    /* changer la couleur de la scroll bar */
}
body::-webkit-scrollbar-thumb{
    background-color: pink;
    border-radius: 20px;
    /* changer la couleur de l'element qui viens dans scroll bar */
}
.active{
    color : pink ;
}



.fixedP{
    top : 50px;
    position: sticky;
}

