<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../style2.css">
    <title>Etoile</title>
</head>

<body>
    <nav class="nav">
        <ul>
            <li><a href="./index.html">home</a></li>
            <li><a href="./systeme.html"> system solaire</a></li>
            <li><a href="./systeme.html#introPlanet">planete</a></li>
            <li><a href="./univers.html">univers</a></li>
            <li><a href="./galaxie.html">galaxie</a></li>
            <li><a href="./etoile.html">etoile</a></li>
        </ul>
    </nav>
    
    <header>
        <h1>les etoiles </h1>
    </header>

    <main>
        <nav class="side-bar">
            <ul>
                <li><a class="active" href="#Diff">c'est quoi une etoile </a></li>
                <li><a href="#Couleur-temp">couleur et temperature </a></li>
                <li><a href="#Naissance ">naissance des etoile</a></li>
                <li><a href="#Structure">la structure des etoiles </a></li>
                <ul class="sous-nav">
                    <li > <a href="#noyau"> noyau</a></li>
                    <li ><a href="#Zone-rediative">zone radiative</a> </li>
                    <li ><a href="#Zone-convertive">zone convertive</a> </li>
                    <li ><a href="#Photosphere">Photosphere</a></li>
                    <li ><a href="#Couronne">couronne</a></li>
                    <li><a href="#thm-vogt-russell">Théorème de Vogt et Russell </a></li>
                </ul>
                <li><a href="#Mort">la mort des etoiles</a></li>
            </ul>
        </nav>
        <div class="contenu">
            <section id="Diff">
                 <h2>c’est quoi une etoile :</h2>
        <p>Le sens premier du mot étoile est celui d'un point lumineux dans le ciel nocturne, et par extension, des figures
        géométriques représentant des rayons partant d'un centre . En astronomie, la signification scientifique plus
        restreinte d'étoile est une boule massive et lumineuse de plasma liée par sa propre gravité dont le diamètre et
        la densité sont tels que la région centrale, le cœur, atteint la température nécessaire à l'amorçage de
        réactions de fusion nucléaire, c'est-à-dire de l'ordre de plusieurs millions de degrés. Ces réactions
        thermonucléaires libèrent de l'énergie lumineuse qui s'oppose à la contraction de l'étoile sous sa propre
        gravité. Pendant une grande partie de sa vie, avant que ses ressources d'énergie ne s'épuisent, une étoile est
        en équilibre hydrostatique sous l'action de ces deux forces et se trouve sur la séquence principale de ce qu'on
        appelle le diagramme de Hertzsprung-Russell.
        </p>
            </section>
            <section id="Couleur-temp"><h2>couleur et temperature :</h2>
                <p>   La plupart des étoiles paraissent blanches à l’œil nu, parce que la sensibilité de l’œil est maximale autour du
                jaune. Mais si nous regardons attentivement, nous pouvons noter que de nombreuses couleurs sont représentées :
                bleu, jaune, rouge (les étoiles vertes n’existent pas). L’origine de ces couleurs resta longtemps un mystère
                jusqu’à il y a deux siècles[Quand ?], quand les physiciens eurent suffisamment de compréhension sur la nature de
                la lumière et les propriétés de la matière aux très hautes températures.</p>
                <p> La nébuleuse NGC 1999 est illuminée de façon spectaculaire par V380 Orionis (centre), une étoile variable
                d’approximativement 3,5 fois la masse du Soleil. Image NASA.</p>
                <p>La couleur permet de classifier les étoiles suivant leur type spectral (qui est en rapport avec la température
                de l’étoile). Les types spectraux vont du plus violet au plus rouge, c’est-à-dire du plus chaud vers le plus
                froid. Ils sont classés par les lettres O B A F G K MNote 3. Le Soleil, par exemple, est de type spectral G.</p>
                <p>Mais il ne suffit pas de caractériser une étoile par sa couleur (son type spectral), il faut aussi mesurer sa
                    luminosité. En fait, pour un type spectral donné, la taille de l’étoile est corrélée à sa luminosité, la
                    luminosité étant fonction de la surface — et donc de la taille de l’étoile.
                    Les étoiles O et B sont bleues à l’œil comme β Orionis (Rigel) ; les étoiles A sont blanches comme α Canis
                    Majoris (Sirius) ou α Lyrae (Véga) ; les étoiles F et G sont jaunes, comme le Soleil ; les étoiles K sont orange
                    comme α Bootis (Arcturus) ; et enfin les étoiles M sont rouges comme α Orionis (Bételgeuse).
            </p>
        
               
                <p>On peut définir un indice de couleur, correspondant à la différence de flux photométrique dans deux bandes
                spectrales dites bandes photométriques (les filtres). Par exemple, le bleu (B) et le visible (V) formeront
                ensemble l’indice de couleur B-V dont la variation est reliée à la température de surface de l’étoile et donc à
                son type spectral. Les indices de température les plus utilisés sont le B-V, le R-I et le V-I car ce sont les
                plus sensibles à la variation de la température.</p>
                </section>
            <section id="Naissance">
                <h2>naissance des etoile :</h2>
                <p>Les grandes lignes de la formation des étoiles sont connues, mais lorsqu'on cherche à entrer dans les détails,
                les mystères s'accumulent. On sait que pour que s'amorce la formation d'une étoile, il faut qu'apparaissent des
                fluctuations de densité de matière qui possèdent certaines caractéristiques. Ainsi, un nuage de poussières et de
                molécules doit avoir, pour s'effondrer, une masse supérieure à ce que l'on appelle la masse de Jeans. Celle-ci
                dépend de la densité et de la température du nuage. S'il est trop chaud ou trop peu dense, la contraction
                gravitationnelle aboutissant à une étoile n'est pas possible. Bien souvent, lorsqu'un nuage se condense, il se
                fragmente en zones plus denses et plus chaudes, et c'est ainsi que des centaines d'étoiles peuvent se former
                presque simultanément à partir d'un seul nuage moléculaire.
                </p>
                <p>Ces nuages sont très froids, avec des températures de l'ordre de 10 K. Ils peuvent contenir jusqu'à un million
                de masses solaires et atteindre une taille de l'ordre de 150 années-lumière environ. Ils rayonnent peu, et
                surtout sont opaques à la lumière visible... mais pas à la lumière infrarouge.</p>
                </section>
            <section id="Structure"> 
                <h2>la structure des étoiles :</h2>
        
                <p>À partir de mesures et de simulations issues de différents modèles, il est possible de construire une image de
                l’intérieur d’une étoile, bien qu’il nous soit quasiment inaccessible — seule l’astérosismologie permet de
                sonder les étoiles.
                Selon les connaissances actuelles, une étoile est structurée en différentes régions concentriques, décrites
                ci-après à partir du centre.</p>
                
                <ul>
                    <li id="noyau">
                        <h3> Noyau</h3>
                        <p>Le noyau (ou cœur) est la partie centrale de l’étoile, concentrant une grande partie de la masse de l’astre,
                dans laquelle se déroulent les réactions thermonucléaires qui dégagent l’énergie nécessaire à sa stabilité
              </p>
                    </li>
                    <li id="Zone-rediative">
                        <h3>  Zone radiative</h3>
                        <p> L’énergie libérée par les réactions nucléaires dans le noyau de l’étoile se transmet aux couches externes par
                rayonnement. Dans les étoiles peu massives et évoluant sur la séquence principale, cette zone radiative est
                surmontée d’une zone convective externe ; dans les naines rouges, la zone radiative a entièrement disparu au
                profit de la zone convective. Dans le Soleil, le rayonnement produit dans la partie centrale met près d’un
                million d’années à traverser la zone radiative au terme d'un mouvement brownien.</p>
                    </li>
                    <li id="Zone-convertive">
                        <h3>Zone convective</h3>
                        <p>Au contraire de la zone précédente, l’énergie se transmet dans la zone convective par des mouvements
                macroscopiques de matière : soumis à un gradient de température décroissant vers la surface, le fluide développe
                une convection de type Rayleigh-Bénard. Cette zone convective est plus ou moins grande : pour une étoile sur la
                séquence principale, elle dépend de la masse et de la composition chimique ; pour une géante, elle est très
                développée et occupe une part importante du volume de l’étoile ; pour une supergéante, cette zone peut atteindre
                les trois quarts du volume de l’étoile, comme dans le cas de Bételgeuse</p>
                    </li>
                    <li id="Photosphere">
                        <h3>Photosphère</h3>
                        <p>La photosphère est la partie externe de l’étoile, qui produit la lumière visible. Elle s'étend de moins de 1 %
                du rayon, pour les étoiles naines (quelques centaines de kilomètres), à quelques dixièmes du rayon de l’étoile,
                pour les géantes les plus grandes. La lumière qui y est produite contient toutes les informations sur la
                température, la gravité de surface et la composition chimique de l’étoile. Pour le Soleil, la photosphère a une
                épaisseur d’environ 400 kilomètres.</p>
                    </li>
                    <li id="Couronne">
                        <h3>Couronne</h3>
                        <p>  La couronne est la zone externe, ténue et extrêmement chaude du Soleil. Elle est due à la présence d’un champ
                magnétique, produit dans la zone convective ; on peut l’observer lors des éclipses de Soleil. C’est grâce à
                l’étude de la couronne au xixe siècle que l’astronome Jules Janssen a découvert l’existence du gaz rare dont le
                nom fait référence au Soleil (Hélios) : l’hélium. Le fait que la température de la couronne atteigne plusieurs
                millions de degrés est un problème théorique difficile et non encore complètement résolu. Il est probable que la
                plupart des étoiles de faible masse (contenant une zone convective externe) possèdent des champs magnétiques et
                donc des couronnes.</p>
                    </li>
                    <li id="thm-vogt-russell">
                        <h3>Théorème de Vogt et Russell</h3>
                        <p> Le théorème de Vogt-Russell peut s’énoncer ainsi : si en tout point d’une étoile la connaissance des valeurs de
                la température, de la densité et de la composition chimique du plasma interne sont suffisantes pour calculer la
                pression, l’opacité du plasma et le taux d’énergie produit, alors la masse et la composition chimique de
                l’étoile sont suffisantes pour décrire la structure de celle-ci. Il en résulte les relations masse-rayon ou
                masse-luminosité des étoiles.</p>
                    </li>
                    
                </ul></section>
            <section id="Mort">  
                <h2>la mort des etoile :</h2>
                <p> La mort d’une étoile survient lorsqu’il n’y a plus de fusion possible au cœur de l’étoile. La majorité des
                étoiles refroidissent alors tranquillement jusqu’à devenir ce que l’on appelle des naines blanches. Mais ce
                n’est pas le cas des étoiles massives, dont la masse dépasse d’au moins huit fois celle de notre Soleil !
                Celles-ci finissent leur vie en explosant violemment, un phénomène cosmique baptisé supernova.
                </p>
            </section>        
        
        
        
       

       

     </div>
    </main>
    <footer>

    </footer>
    <script src="../script.js"></script>
</body>

</html>