<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style2.css">
    <title>Galaxy</title>
</head>

<body>
    <nav class="nav">
        <ul>
            <li class="active"><a href="./index.html">home</a></li>
            <li><a href="./systeme.html"> system solaire</a></li>
            <li><a href="./systeme.html#introPlanet">planete</a></li>
            <li><a href="./univers.html">univers</a></li>
            <li><a href="./galaxie.html">galaxie</a></li>
            <li><a href="./etoile.html">etoile</a></li>
        </ul>
    </nav>
    
    <header>
        <h1>LES GALAXIES</h1>
    </header>
    <main>
        <nav class="side-bar"  >
            <ul>
                <li> <a class="active" href="#">c'est quoi une galaxy ? </a></li>
                <li ><a href="#Type"> type de galaxy  </a></li>
                <ul class="sous-nav">
                    <li > <a href="#Elliptique"> galaxie Elliptique</a></li>
                    <li ><a href="#Spirale">galaxie spirale</a> </li>
                    <li ><a href="#Lenticulaire">galaxie Lenticulaire</a> </li>
                    <li ><a href="#Irreguliere">galaxie Irreguliere </a></li>
                </ul>
                <li><a href="#Notre-galaxy ">notre galaxie </a></li>
                <li > <a href="#Structure "> la structure de notre galaxie </a></li>
                <li><a href="#Formation">La formation et l'evolution de notre galaxie </a></li>
            </ul>
        </nav>


        <div class="contenu">
        <section id="#Diff">
            <h2>c’est quoi une galaxy ?</h2>
            <p>  Une galaxie est un système stellaire composé d'une assemblée d'étoiles, de matière interstellaire sombre
        c'est-à-dire de poussière, de beaucoup de gaz, principalement de l'hydrogène et de l'hélium et d'une grande
        quantité de matière sombre c'est-à-dire de matière inconnue. L'ensemble de la structure est maintenu par les
        forces de gravitation. Ainsi la matière totale forme un halo sphérique beaucoup plus étendu que la galaxie
        elle-même. La masse d'une galaxie est supérieure à cent millions de masses solaires. Les galaxies interagissent
        avec leurs voisines et ces interactions modifient leur forme. Deux galaxies peuvent parfois fusionner .</p>
        </section>
        <section id="Type"><h2>Les différents types de galaxies</h2>
        <ul>
            <li id="Elliptique">
                <h3> Les galaxies elliptiques</h3>
                <p>   Les galaxies elliptiques présentent une forme sphérique ou ovale sans structure interne et de brillance à peu
        près uniforme. Les étoiles en leur sein vont et viennent dans tous les sens de façon désordonnée. Si elles
        n’étaient pas en mouvement, elles finiraient par tomber vers le centre de la galaxie et celle-ci s’effondrerait
        sous sa propre gravité, mais du fait de leur mouvement, les étoiles sont soumises à une force centrifuge qui les
        empêche de tomber vers le centre.</p>
      <p>Les galaxies elliptiques sont principalement composées d’étoiles vieilles et rouges et sont plus ou moins
        dépourvues d’astres jeunes et massifs. Elles ne contiennent qu’une très faible quantité de gaz et de poussières
        et le milieu interstellaire est donc pratiquement inexistant. Ces deux faits sont liés puisque le gaz est
        l’ingrédient nécessaire à la formation d’étoiles. S’il est absent, aucune étoile nouvelle ne peut se former et
        toutes les étoiles présentes se sont donc formées à une époque où le gaz interstellaire était encore disponible.
        Ce sont nécessairement des astres à durée de vie très longue, donc peu massifs et rouges.</p>
        
            </li>
            <li id="Spirale">
            <h3>Les galaxies spirales</h3>
            <p> Les galaxies spirales sont plus complexes. Elles sont essentiellement constituées de deux éléments : un noyau
        sphérique entouré d’un disque de matière dans lequel apparaît une structure spirale. Il y a une grande diversité
        de forme, depuis un noyau énorme entouré de petits bras spiraux jusqu’à un noyau minuscule avec des bras très
        longs.
</p>

        </li>
       
     <li id="Lenticulaire">
         <h3>Les galaxies lenticulaires</h3>
         <p>     Entre spirales et elliptiques existe un cas intermédiaire, celui des galaxies lenticulaires. Comme les spirales,
        celles-ci possèdent un noyau volumineux et un disque, mais, comme les elliptiques, elles sont démunies de bras
        spiraux et possèdent un milieu interstellaire relativement pauvre.</p>
        
     </li>
        
         <li id="Irreguliere">
            <h3>Les galaxies irrégulières</h3>
            <p>Il existe enfin une dernière catégorie, celle des galaxies irrégulières, qui contient toutes les galaxies qui
        n’entrent pas dans les trois groupes précédents. Ces galaxies présentent un aspect la plupart du temps difforme
        et sont très riches en gaz et en poussières. Elles peuvent être classées en deux groupes.</p>
        <p>   D’abord les galaxies ayant un aspect irrégulier mais dont la distribution de matière est en fait très régulière,
        comme par exemple les Nuages de Magellan. Celles-ci sont aujourd’hui considérées comme des spirales qui n’ont
        pas réussi à achever leur formation.</p>
        <p>  Le deuxième type est celui des galaxies véritablement irrégulières, autant du point de vue visuel que de celui
        de la répartition de matière. Cette irrégularité peut avoir diverses origines comme une forte activité dans le
        noyau ou bien une collision passée avec une autre galaxie.</p>
        </li>
      
        
   

        </ul>
    </section>
        <section id="Notre-galaxy">
<h2>notre galaxy : voie lactée</h2>
<p> La Voie lactée est le nom de notre galaxie dans laquelle se situe 
    notre Système solaire. Il s'agit d'une grande galaxie spirale barrée, 
    abritant environ 100 milliards à 400 milliards d'étoiles, dont le Soleil, 
    et mesurant environ 100 000 années-lumière de diamètre.</p></section>
        <section id="Structure">
            <p>Notre galaxie est une galaxie spirale : de son centre partent des bras spiraux qui fait d'elle une galaxie spirale, 
            qui se divisent eux-mêmes en d'autres bras spiraux. Il existe 6 bras dans la galaxie, le Bras de Persée, le Bras 
            de la Règle, le Bras du Cygne, le Bras Écu-Croix, le Bras Sagittaire-Carène, et enfin, le Bras d'Orion, où se 
            trouve notre Système solaire. </p>
            <p> Au centre de la galaxie, on trouve le "bulbe 
            galactique", un lieu rempli d'étoiles et différents 
            corps célestes. La Voie lactée mesure au total 
            100 000 années-lumière de diamètre.</p>
           <p>Notre Soleil se trouve plutôt à la périphérie de la 
            Voie lactée (à environ 26 000 années-lumière du 
            centre). Les étoiles tournent autour du centre de la 
            galaxie, et notre Soleil met 250 millions d'années lumière pour en faire le tour complet (il a donc 
            effectué une vingtaine de tours depuis qu'il existe). 
            Notre Soleil tourne dans le sens des aiguilles d'une 
            montre. Les planètes, qui tournent autour du Soleil, 
            sont sur un plan perpendiculaire à notre galaxie.
            </p>
            
            </section>
            <section id="Formation">
                <h3>La formation et l'evolution de notre galaxy  </h3>
                <p>La Voie lactée s'est probablement formée de la même manière que les autres galaxies, c'est-à-dire suite à 
                    l'effondrement d'un nuage de gaz, ce qui forme une "protogalaxie", où naissent les premières étoiles, la 
                    protogalaxie devient alors une galaxie, souvent irrégulière avant de prendre la forme d'un disque sous l'effet 
                    de la gravitation.
                    D'après des astronomes, la galaxie d'Andromède heurtera la Voie lactée d'ici entre 3 et 4 milliards d'années.</p>
            </section>
        
      </div>
    </main>
    <footer>

    </footer>
    <script src="../script.js"></script>
</body>

</html>