<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    
    <header >
        <nav>
            <ul>
                <li><a href="./index.html">home</a></li>
                <li><a href="./systeme.html"> system solaire</a></li>
                <li><a href="./systeme.html#introPlanet">planete</a></li>
                <li><a href="./univers.html">univers</a></li>
                <li><a href="./galaxie.html">galaxie</a></li>
                <li><a href="./etoile.html">etoile</a></li>
            </ul>
        </nav>
        <h1> Decouvrons l'univers </h1> 
        <img src="../images/planet1.png" alt=""  class="planet1">
        <img src="../images/planet2.png" alt=""  class="planet2">
        <img src="../images/planet3.png" alt=""  class="planet3">
        <img src="../images/planet4.png" alt=""  class="planet4">
        <div>
            <button><a href="#contain">discover</a></button>  
        </div>
    </header>
<img src="../images/luna.png" alt="" width="100%" height="auto" class="luna">
    <main>
        
        <div class="contain" id="contain">
        <h2> <strong>Science de l'univers</strong>  </h2>
        <p>
            Les sciences de l'Univers sont les disciplines scientifiques qui étudient ce qui est extérieur à la Terre.
            Les différentes branches des sciences de l'Univers sont l'astronomie, l'astrophysique et la cosmologie.
            Elles étudient les systèmes planétaires et leur évolution. Leurs thèmes d'études sont donc l'évolution de
            l'Univers et des objets qui le compose tels que les comètes, le système solaire, la Voie lactée, les
            exoplanètes, les galaxies, les constellations, les étoiles, les nébuleuses, les supernovas, les trous noirs,
            etc.
    
            voici une bref explication sur chacune des branches
        </p>
        <ul>
            <li>
                <h3> L’astronomie : </h3>
                <p>
                    c'est la science de l’observation des astres, cherchant à expliquer leur origine, leur évolution,
                    ainsi que leurs propriétés physiques et chimiques."
                </p>
            </li>
            <li>
                <h3>L’astrophysique : </h3>
                <p>quant à elle, est une branche interdisciplinaire de l'astronomie qui concerne principalement
                    la physique et l'étude des propriétés des objets de l'univers , comme leur luminosité, leur densité,
                    leur
                    température et leur composition chimique.
                </p>
    
            </li>
            <li>
                <h3>La cosmologie :</h3>
                <p> c'est une partie de l'observation de notre système solaire au XIXè siècle, la cosmologie telle qu'on
                    l'entend aujourd'hui est donc l'étude de la structure, l'histoire et l'évolution d'un univers empli de
                    galaxies à perte de vue.</p>
    
            </li>
        </ul>
    </div>
    </main>
    <footer>
        
    </footer>
    
</body>

</html>