@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');
*{
    font-family: 'Roboto';
    color: #fff;
    line-height: 1.8;
    margin-top: 0px;
}
body{  
    background-image: url("img/background.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-attachment: fixed;
}


body::-webkit-scrollbar{
    width: 10px;
    /* changer la taille de la scroll bar l'affiner */

}
/* ce block css est fait pour changer la structure de la barre de scroll*/
body::-webkit-scrollbar-track{
    background-color: gray;
    /* changer la couleur de la scroll bar */
}
body::-webkit-scrollbar-thumb{
    background-color: pink;
    border-radius: 20px;
    /* changer la couleur de l'element qui viens dans scroll bar */
}
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;  
}
.nav li{
    margin: 0px 30px;
}
html{
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav {
    position: relative;
    width: 100%;
    padding : 20px 0px ; 
    z-index: 3000;
}
a:hover{
    color: pink;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 100%;
}

header h1{
    font-size: 70px;
    color: #fff;
}
main{
    height: fit-content;
    background-color: #00092b;
    width:95%;
}
.container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}
.container ul{
    margin: 20px 0px;
}
.container li{
    margin: 15px 0px;
}
.container span{
    font-weight: 600;
    color: #4a289c;
}
.container > h1{
    margin-top: 50px;
    font-size: 38px;
    color: #fff;
}
.container > div{
    margin: 10px 50px;
}
.container > p{
    margin:0px 40px 40px 40px;
    color: #fff;
    text-indent: 30px;
}
.planets{
    background-image: url("img/systhemeSolaireFond.png");
    height: 500px;
    width: 500px;
    border: 2px #fff solid;
}
.planetInfo{
    height: 500px;
    width: 300px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.planets a:nth-child(2) img{
    position: relative;
    right:20px;
    top: 30px;
}
.planets a:nth-child(3) img{
    position: relative;
    left: 25px;
}
.planets a:nth-child(4) img{
    position: relative;
    right: 140px;
    top: 170px;
}
.planets a:nth-child(5) img{
    position: relative;
    top: 160px;
    right: 65px;
}
.planets a:nth-child(6) img{
    position: relative;
    top: 65px;
    left:10px;
}
.planets a:nth-child(7) img{
    position: relative;
    top: 270px;
    left:90px;
}
.planets a:nth-child(8) img{
    position: relative;
    top: 160px;
    left:210px;
}
.planets a:nth-child(9) img{
    position: relative;
    top: 290px;
    left:90px;
}
.planetInfo h1{
    margin-top: 50px ;
    color: #4a289c;
    font-size: 28px;
}
.planetInfo div > p{
    margin: 0px 20px;
    color: #00092b;
    line-height: 1.2;
}
.planetInfo  h2{
    color: #00092b;
}
.planetInfo div{
    color: #00092b;
    display: none;
    margin-top: -10px;
}
.planetInfo div :nth-child(3){
    font-weight: 600;
    font-size:15px ;
    margin-top:30px ;
    text-align: center;
    color: #4a289c;

}
.planetInfo .active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 



