<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="systeme.css">
    <title>Système solaire</title>
</head>
<body>
    <nav class="nav">
        <ul>
            <li class="active"><a href="./index.html">home</a></li>
            <li><a href="./systeme.html"> system solaire</a></li>
            <li><a href="./systeme.html#introPlanet">planete</a></li>
            <li><a href="./univers.html">univers</a></li>
            <li><a href="./galaxie.html">galaxie</a></li>
            <li><a href="./etoile.html">etoile</a></li>
        </ul>
    </nav>    
    <header>
        <h1>SYSTEME SOLAIRE</h1>
    </header>
    <main>
        <section class="container">
            <h1>C'est quoi le systeme solaire ?</h1>
            <div>
                <p>Le système solaire est un système planétaire composé de divers éléments :
                </p>
                <ul>
                    <li><span>Une étoile :</span> Le système solaire possède une seule étoile en son centre: le Soleil, une énorme boule de feu qui brûle de l'hydrogène à l'aide d'une réaction nucléaire (il existe des systèmes qui possèdent plusieurs étoiles comme les systèmes binaires, et ces étoiles peuvent brûler de l'hélium, de l'oxygène ou du carbone).  </li>
                    <li><span>Des planètes :</span>
                        <ul>
                            <li> Des planètes telluriques (Mercure, Vénus, la Terre, Mars) qui sont proches du soleil et qui se caractérisent par leur petite taille, par leur petite masse, leur haute densité, ainsi que leur surface rocheuse.                        </li>
                            <li> Des planètes géantes gazeuse et des planètes géantes de glace (Jupiter, Saturne, Uranus et Neptune ) qui sont plus éloignées du soleil. Elles sont très massives et très volumineuses mais peu denses. Leur atmosphère est constituée d'hydrogène. Elles sont escortées par de nombreux satellites et sont toutes ceintes d'anneaux.
                            </li>
                            <li>  les planets naines , Cette catégorie a été décidée lors de l'assemblée générale de l'Union Astronomique Internationale, réunie à Prague, le 24 août 2006. Dans cette catégorie se trouvent Cérès, Pluton, Éris, Makemake et Haumea.
                            </li>
                        </ul>
                    </li>
                    <li><span>Des astéroïdes :</span> On estime qu'il existe plusieurs milliards de ces petits "rochers" qui orbitent entre Mars et Jupiter.
                    </li>
                    <li><span>Des comètes :</span> qui seraient rassemblées dans un immense réservoir situé aux confins du système solaire. Parfois des perturbations, causées par des étoiles proches, déséquilibrent ces noyaux qui quittent alors leur orbite. Certains sont attirés par le Soleil dont les radiations subliment la glace les recouvrant provoquant ainsi l'apparition de la queue des comètes.
                    </li>
    
                </ul>
                <p>Ainsi la famille du Soleil est très variée : petites planètes rocheuses, planètes géantes et gazeuses, satellites, astéroïdes et comètes.
                </p>
                <br>
                <p style="text-indent: 30px;">Le système solaire fait partie de la voix actée . Il est situé dans le bras d'Orion. Il se trouve proche de la périphérie à environ 28 000 années-lumière du centre galactique, et à 50 années-lumière du plan équatorial. Il fait le tour de la Galaxie en 250 millions d'années. Le système solaire aurait donc effectué entre 20 et 21 révolutions galactiques depuis sa formation voici 4,55 milliards d'années. En même temps, il oscille de part et d'autre du plan galactique avec une période de 66 millions d'années. Il traverse ce plan tous les 33 millions d'années.
                </p>
            </div>
            
        </section>
        <section class="container" id="introPlanet">
            <h1>C’est quoi une planete ?</h1>
            <p>Une "planète" est un corps céleste en orbite autour du Soleil, avec une masse assez importante pour que son auto gravité forme une sphère (ou un équilibre hydrostatique) et il a nettoyé de son orbite tous les astres plus petits. Cette définition fixe à 8 le nombre de planètes du Système solaire.
            </p>
            <div class="planets" id="planetes">
                <a href="#soleil" onclick="location.href = 'planete/soleil.html';"><img src="img/soleil.png" alt="soleil"></a>
                <a href="#mercury" onclick="location.href = 'planete/mercure.html';"><img src="img/mercury.png" alt="mercure"></a>
                <a href="#venus" onclick="location.href = 'planete/venus.html';"><img src="img/venus.png" alt="venus"></a>
                <a href="#earth" onclick="location.href = 'planete/terre.html';"><img src="img/earth.png" alt="la terre"></a>
                <a href="#mars"  onclick="location.href = 'planete/mars.html';" ><img src="img/mars.png" alt="mars"></a>
                <a href="#jupiter" onclick="location.href = 'planete/jupiter.html';"><img src="img/jupiter.png" alt="jupiter"></a>
                <a href="#saturn"  onclick="location.href = 'planete/saturn.html';"><img src="img/saturn.png" alt="saturn"></a>
                <a href="#uranus" onclick="location.href = 'planete/uranus.html';"><img src="img/uranus.png" alt="uranus"></a>
                <a href="#neptune" onclick="location.href = 'planete/neptune.html';"><img src="img/neptune.png" alt="neptune"></a>
            </div>
            <div class="planetInfo">
                <h1>INFORMATION</h1>
                <div class="active" style="text-align:center;">
                    <p>Flotter sur les planettes et etoile pour avoir plus d'information.</p>
                </div>
                <div  id="soleil">
                    <h2>Soliel</h2>
                    <p>Notre soleil est une étoile , une boule chaude de gaz incandiceents au coeur de notre systeme solaire dont il représente à lui seul 99,86 % de la masse totale.</p>
                    <p>Clickez sur la planette pour plus d'information</p>
                </div>
                <div id="mercury">
                    <h2>marcure</h2>
                    <p>Mercure est la planète la plus proche du Soleil et la moins massive du Système solaire .L'atmosphère de Mercure est quasi inexistante à cause de la température très élevée de la surface et de la faible gravité de la planète.Son éloignement au Soleil est compris entre 0,31 et 0,47 unité astronomique .</p>
                    <p>Clickez sur la planette pour plus d'information</p>
                </div>
                <div id="venus">
                    <h2>Venus</h2>
                    <p>Vénus est la deuxième planète du Système solaire par ordre d'éloignement au Soleil, et la sixième plus grosse aussi bien par la masse que le diamètre. elle représente un monde obscure ou la chaleur est intense et l’activité volcanique permanente , l'atmosphère épaisse et toxique emprisonnent la chaleur dans un effet de serre d’emballement .
                    </p>
                    <p>Clickez sur la planette pour plus d'information</p>

                </div>
                <div id="earth">
                    <h2>Terre</h2>
                    <p>air , eau , et la vie - y compris les humains , La Terre est la troisième planète par ordre d'éloignement au Soleil et la cinquième plus grande du Système solaire aussi bien par la masse que le diamètre. Par ailleurs, elle est le seul objet céleste connu pour abriter la vie .
                    </p>
                    <p>Clickez sur la planette pour plus d'information</p>

                </div>
                <div id="mars">
                    <h2>Mars</h2>
                    <p>De toutes les planètes, Mars est celle qui suscite le plus d'intérêt de la part des scientifiques mais aussi du grand public , c'est la quatrième planète par ordre d'éloignement au Soleil . elle est plus froide que la terre , on l’appelle aussi la planète rouge . </p>
                    <p>Clickez sur la planette pour plus d'information</p>
                    
                </div>
                <div id="jupiter">
                    <h2>Jupiter</h2>
                    <p>Jupiter est l'une des quatre planètes géantes gazeuses, étant principalement composée de gaz et dépourvue de réelle surface. C'est la plus grande et massive  planète du Système solaire et  la  sixième planète par ordre d'éloignement au Soleil .</p>
                    <p>Clickez sur la planette pour plus d'information</p>
                    
                </div>
                <div id="saturn">
                    <h2>Saturn</h2>
                    <p>Saturne est la sixième planète du Soleil et la deuxième plus grande du système solaire, après Jupiter. C’est une géante gazeuse d’un rayon moyen d’environ neuf fois et demie celui de la Terre. Il n’a qu’un huitième de la densité moyenne de la Terre; cependant, avec son plus grand volume, Saturne est plus de 95 fois plus massive.
                    </p>
                    <p>Clickez sur la planette pour plus d'information</p>
                    
                </div>
                <div id="uranus">
                    <h2>Uranus</h2>
                    <p>Gazeuse tout comme Jupiter et Saturne, Uranus diffère cependant par sa composition, c'est pourquoi on la qualifie, comme Neptune, de "géante de glace".c’est la seule planète basculé sur le côté .</p>
                    <p>Clickez sur la planette pour plus d'information</p>
                    
                </div>
                <div id="neptune">
                    <h2>Neptune</h2>
                    <p>Planète la plus éloignée du soleil, Neptune n'a pas été découverte par observation mais grâce à des calculs mathématiques. Invisible à l'oeil nu, Neptune apparaît au télescope comme un disque bleu. 
                    </p>
                    <p>Clickez sur la planette pour plus d'information</p>
                    
                </div>            
            </div>

        </section>

    </main>
    <footer>
        <h5> A propos </h5>
        <p>MEDJDOUB Assia <a href="mailto:mdjassia@gmail.com">mdjassia@gmail.com</a> </p>
        <p>LABRI Ahlem <a href="mailto:mdjassia@gmail.com">ahlemlabri@gmail.com</a></p>
    </footer>


    <script>
        (function(){
            var afficher =function(a){
            var container=a.parentNode.parentNode
            container.querySelector('.planetInfo .active').classList.remove('active')
            container.querySelector(a.getAttribute('href')).classList.add('active')
            console.log(container)
            }
            var desafficher=function(a){
                var container = a.parentNode.parentNode
                container.querySelector(a.getAttribute('href')).classList.remove('active')
                container.querySelector('.planetInfo div').classList.add('active')
            }
            var tabs= document.querySelectorAll('.planets a')
            for (let i = 0; i < tabs.length; i++) {
                var tab = tabs[i];
                tab.addEventListener('mouseover',function(e){
                    afficher(this)
                })
                tab.addEventListener('mouseout',function(e){
                    desafficher(this)
                })
            }
        })()

    </script>
</body>

</html>