<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../etoile.css">
    <title>Document</title>
</head>

<body>

    <nav class="nav">
        <ul>
            <li class="active"><a href="./index.html">home</a></li>
            <li><a href="./systeme.html"> system solaire</a></li>
            <li><a href="./univers.html">univers</a></li>
            <li><a href="./galaxie.html">galaxie</a></li>
            <li><a href="./etoile.html">etoile</a></li>
        </ul>
    </nav>
    
    <header>
        <h1>L'univers</h1>
    </header>
    <main>
        <nav class="side-bar">
            <ul>
                <li><a class="active" href="#Diff">C'est quoi l'univers</a></li>
                <li><a href="#Age">age et Big Bang</a></li>
                <li> <a href="#Taille">La taille de l'univers</a></li>
                <li><a href="#Composition">Composition</a></li>
                <ul class="sous-nav">
                    <li><a href="#Macro">au niveau macroscopique</a></li>
                    <li><a href="#Micro">au niveau microscopique </a></li>
                    <ul class="sous-nav">
                        <li><a href="#Energie-noir">Energie noir</a></li>
                        <li><a href="#Matiere-noir">Matiere Noir</a></li>
                        <li><a href="#Barionique"> Matiere Barionique</a></li>
                        <li><a href="#Particule">Particules</a></li>
                    </ul>
                </ul>
                <li><a href="#Trou-Noir">Trou noir </a></li>
     
            </ul>
        </nav>
        <div class="contenu">
            <section id="Diff">
                <h2>c'est quoi l'univers ? </h2>
                <p> L'Univers, au sens cosmologique, est l'ensemble de tout ce qui existe, régi par un certain nombre de
                    lois.
                </p>
                <p>La cosmologie cherche à appréhender l'Univers d'un point de vue scientifique, comme l'ensemble de la
                    matière distribuée dans l'espace-temps. Pour sa part, la cosmogonie vise à établir une théorie de la
                    création de l'Univers sur des bases philosophiques ou religieuses. La différence entre ces deux
                    définitions n'empêche pas nombre de physiciens d'avoir une conception finaliste de l'Univers (voir à
                    ce sujet le principe anthropique).
                </p>
                <p>Si l'on veut faire correspondre le mouvement des galaxies avec les lois physiques telles qu'on les
                    conçoit actuellement, on peut considérer que l'on n'accède par l'expérience qu'à une faible partie
                    de la matière de l'Univers1, le reste se composant de matière noire. Par ailleurs, pour expliquer
                    l'accélération de l'expansion de l'Univers, il faut également introduire le concept d'énergie
                    sombre. Plusieurs modèles alternatifs ont été proposés pour faire correspondre les équations et nos
                    observations en prenant d'autres approches.
                </p>


            </section>
            <section id="Age">
                <h2>Age et Big Bang </h2>
                <p>
                    Les observations du décalage vers le rouge des rayonnements électromagnétiques en provenance
                    d'autres galaxies suggèrent que celles-ci s'éloignent de notre galaxie, à une vitesse radiale
                    d'éloignement proportionnelle à cet éloignement.

                </p>
                <p> En étudiant les galaxies proches, Edwin Hubble s'est aperçu que la vitesse d'éloignement d'une
                    galaxie était proportionnelle à sa distance par rapport à l'observateur (loi de Hubble) ; une telle
                    loi est explicable par un Univers visible en expansion.
                </p>
                <p> Bien que la constante de Hubble ait été révisée par le passé dans d'importantes proportions (dans un
                    rapport de 10 à 1), la loi de Hubble a été extrapolée aux galaxies éloignées, pour lesquelles la
                    distance ne peut être calculée au moyen de la parallaxe ; cette loi est ainsi utilisée pour
                    déterminer la distance des galaxies les plus éloignées.
                </p>
                <p> En extrapolant l'expansion de l'Univers dans le passé, on arrive à une époque où celui-ci a dû être
                    beaucoup plus chaud et beaucoup plus dense qu'aujourd'hui. C'est le modèle du Big Bang, conçu par
                    Georges Lemaître, chanoine catholique belge, qui est un ingrédient essentiel de l'actuel modèle
                    standard de la cosmologie et possède aujourd'hui un grand nombre de confirmations
                    expérimentales[réf. nécessaire]. La description du début de l'histoire de l'Univers par ce modèle ne
                    commence cependant qu'après qu'il fut sorti d'une période appelée ère de Planck, durant laquelle
                    l'échelle d'énergie de l'Univers était si grande que le modèle standard n'est pas en mesure de
                    décrire les phénomènes quantiques qui s'y sont déroulés. Durant cette époque, seule une théorie de
                    la gravitation quantique pourrait expliquer le comportement microscopique de la matière sous
                    l'influence importante de la gravité. Mais les physiciens ne disposent pas encore (en 2015) d'une
                    telle théorie. Pour des raisons de cohérence avec les observations, après l'ère de Planck le modèle
                    du Big Bang privilégie aujourd'hui l'existence d'une phase d'inflation cosmique, très brève mais
                    durant laquelle l'Univers aurait grandi de façon extrêmement rapide. C'est à la suite de cette phase
                    que l'essentiel des particules de l'Univers aurait été créé à une haute température, enclenchant un
                    grand nombre de processus importants11 qui ont finalement abouti à l'émission d'une grande quantité
                    de lumière, appelée fond diffus cosmologique, qui peut être aujourd'hui observé avec une grande
                    précision par toute une série d'instruments (ballons-sondes, sondes spatiales, radiotélescopes).
                </p>
                <p>
                    C'est l'observation de ce rayonnement fossile micro-onde, remarquablement uniforme dans toutes les
                    directions, qui constitue aujourd'hui l'élément capital qui assoit le modèle du Big Bang comme
                    description correcte de l'Univers dans son passé lointain. De nombreux éléments du modèle restent
                    encore à déterminer (par exemple le modèle décrivant la phase d'inflation), mais il y a aujourd'hui
                    consensus de la communauté scientifique autour du modèle du Big Bang.
                </p>

                <p> Dans le cadre du modèle ΛCDM, les contraintes issues des observations de la sonde WMAP12 sur les
                    paramètres cosmologiques indiquent une valeur la plus probable pour l'âge de l'Univers à environ
                    13,82 milliards d'années13 avec une incertitude de 0,02 milliard d'années, ce qui est en accord avec
                    les données indépendantes issues de l'observation des amas globulaires14 ainsi que celle des naines
                    blanches15. Cet âge a été confirmé en 2013 par les observations du satellite Planck.
                </p>
            </section>
            <section id="Taille">
                <h2>La taille de l'univers </h2>
                <p>À ce jour, aucune donnée scientifique ne permet de dire si l'Univers est fini ou infini. Certains
                    théoriciens penchent pour un Univers infini, d'autres pour un Univers fini mais non borné. Un
                    exemple d'Univers fini et non borné serait l'espace se refermant sur lui-même. Si on partait tout
                    droit dans cet Univers, après un trajet, très long certes, il serait possible de repasser à
                    proximité de son point de départ.
                </p>
                <p>
                    Les articles populaires et professionnels de recherche en cosmologie emploient souvent le terme «
                    Univers » dans le sens d'« Univers observable ». L'être humain vit au centre de l'Univers
                    observable, ce qui est en contradiction apparente avec le principe de Copernic qui dit que l'Univers
                    est plus ou moins uniforme et ne possède aucun centre en particulier. Le paradoxe se résout
                    simplement en tenant compte du fait que la lumière se déplace à la même vitesse dans toutes les
                    directions et que sa vitesse n'est pas infinie : regarder au loin revient à regarder un événement
                    décalé dans le passé du temps qu'il a fallu à la lumière pour parcourir la distance séparant
                    l'observateur du phénomène observé. Or il ne nous est pas possible de voir de phénomène issu d'avant
                    le Big Bang. Ainsi, les limites de l'Univers observable correspondent au lieu le plus lointain de
                    l'Univers pour lesquelles la lumière a mis moins de 13,82 milliards d'années à parvenir à
                    l'observateur, ce qui le place immanquablement au centre de son Univers observable. On appelle «
                    horizon cosmologique » la première lumière émise par le Big Bang il y a 13,82 milliards d'années.


                </p>
                <p> On estime que le diamètre de cet Univers observable est de 100 milliards d'années
                    lumière.
                    Celui-ci contient environ 7 × 10<sup>22</sup> étoiles, répandues dans environ 100 milliards de
                    galaxies,
                    elles-mêmes organisées en amas et superamas de galaxies . Mais le nombre de galaxies
                    pourrait être
                    encore plus grand, selon le champ profond observé avec le télescope spatial Hubble. Quant au nombre
                    d'atomes contenus dans l'univers, il est estimé à environ 10 .
                </p>
                <p>Il est cependant possible que l’Univers observable ne soit qu'une infime partie d’un Univers réel
                    beaucoup plus grand.
                </p>
                <p> L'Univers ne peut pas posséder de « bord » au sens intuitif du terme. En effet, l'existence de bord
                    impliquerait l'existence d'un extérieur à l'Univers. Or par définition l'Univers est l'ensemble de
                    tout ce qui existe, il ne peut donc rien exister à l'extérieur. Toutefois cela ne signifie pas que
                    l'Univers est infini, il peut être fini sans avoir de « bord », sans avoir en fait d'extérieur.
                </p>
                <p>
                    Par contre, cela pose la question de la compatibilité avec la conservation de l'énergie. En effet,
                    la définition même de l'univers en fait un système isolé (car si l'univers U1 pouvait transférer de
                    l'énergie avec un autre système S1, alors l'univers réel serait U2 = U1 + S1). Et dans un système
                    isolé, il ne peut pas y avoir de création d'énergie.</p>
            </section>
            <section id="Composition">
                <h2> Composition de l'univers </h2>

                <ul>
                    <li id="Macro">
                        <h3>au niveau macroscopique </h3>
                        <p>
                            De manière macroscopique, l'Univers est composé de nombreux corps célestes20, parmi
                            lesquelles se
                            trouvent des planètes (comme la Terre), des comètes, des astéroïdes, mais aussi de
                            satellites
                            naturels (comme la lune), d'exoplanètes, etc. Ces corps célestes se structurent en plusieurs
                            éléments, du plus petit au plus grand:
                        </p>
                        <ol>
                            <li><a href="./systemSolair.html">Système planétaire</a> </li>
                            <li>Nuage interstellaire </li>
                            <li> <a href="./galaxie.html">Galaxie</a> </li>
                            <li>Groupe de galaxies</li>
                            <li>Superamas de galaxies</li>
                            <li>Univers observable</li>

                        </ol>
                    </li>
                    <li id="LMicro">
                        <h3>au niveau microscopique </h3>
                        <p> On ne connait pas exactement la composition de l'Univers. Hormis le vide, plusieurs
                            éléments, pour la plupart, encore jamais observés, sont conjecturés.
                        </p>
                        <ul>
                            <li id="Energie-noir">
                                <h4>energie noir </h4>
                                <p>
                                    En cosmologie, l'énergie noire ou énergie sombre est une forme d'énergie
                                    hypothétique remplissant uniformément tout l'Univers et dotée d'une pression
                                    négative, elle se comporte comme une force gravitationnelle répulsive. L'existence
                                    de l'énergie noire est nécessaire pour expliquer, dans le cadre du modèle standard
                                    ΛCDM, diverses observations astrophysiques, notamment l'accélération de l'expansion
                                    de l'Univers détectée au tournant du xxie siècle. L'énergie noire ne doit pas être
                                    confondue avec la matière noire qui, au contraire, ne remplit pas uniformément
                                    l'Univers et qui interagit normalement (forces attractives) avec la gravitation.
                                </p>
                            </li>
                            <li id="Matiere-noir">
                                <h4>matiere noir </h4>
                                <p>

                                    La matière noire ou matière sombre, est une catégorie de matière hypothétique,
                                    invoquée dans le cadre du Modèle ΛCDM pour rendre compte de certaines observations
                                    astrophysiques, notamment les estimations de la masse des galaxies ou des amas de
                                    galaxies et les propriétés des fluctuations du fond diffus cosmologiquen 1.
                                </p>
                                <p>
                                    En ce qui concerne la composition de la matière noire, différentes hypothèses sont
                                    explorées : gaz moléculaire, étoiles mortes, naines brunes en grand nombre, trous
                                    noirs, etc. Cependant, les estimations de la densité de l'Univers et du nombre
                                    d'atomes impliquent une nature non baryonique. Des astrophysiciens supposent
                                    l'existence d'autres particules, peut-être des superpartenaires (tels que le
                                    neutralino), regroupées sous le nom générique de « Weakly interacting massive
                                    particles ».
                                </p>

                                <p>
                                    La matière noire aurait pourtant une abondance au moins cinq fois plus importante
                                    que la matière baryonique, pour constituer environ 27 %3 de la densité d'énergie
                                    totale de l'Univers observable4, selon les modèles de formation et d'évolution des
                                    galaxies, ainsi que les modèles cosmologiques.
                                </p>
                            </li>
                            <li id="Barionique">
                                <h4>Matière baryonique</h4>
                                <p>
                                    La matière baryonique, par opposition à la matière non baryonique, est un type de
                                    matière commune, qui comprend toute la matière composée de particules composites
                                    appelées baryons. De même que pour la matière noire, un des plus grand enjeux de la
                                    cosmologie est de comprendre sa répartition dans l'Univers.
                                </p>
                            </li>
                            <li id="Particule">
                                <h4>Particules</h4>
                                <p>
                                    La matière ordinaire et les forces qui agissent sur elle peuvent être décrites par
                                    les particules élémentaires. La physique des particules est la branche de la
                                    physique générale qui se penche sur les questions attenantes à la composition de la
                                    matière. Plus spécifiquement, cette discipline s'attelle à étudier les plus petits
                                    éléments de la matière et l'interaction entre les particules élémentaires. Cette
                                    branche se rapproche de la physique quantique, qui, elle, se focalise à comprendre
                                    les mécaniques et les lois qui régissent l'infiniment petit, par opposition aux
                                    lois de la relativité générale et restreinte.
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
            <section id="Trou-Noir">
                <h2>Trou noir</h2>
                <p>En astrophysique, un trou noir est un objet céleste si compact que l'intensité de son champ gravitationnel empêche toute forme de matière ou de rayonnement de s'en échapper.

                   
                   
                    

                </p>
                <p> De tels objets ne peuvent ni émettre, ni diffuser la lumière et sont donc noirs, ce qui en astronomie revient à dire qu'ils sont optiquement invisibles. Toutefois, plusieurs techniques d’observation indirecte dans différentes longueurs d'onde ont été mises au point et permettent d’étudier de nombreux phénomènes qu’ils induisent. En particulier, la matière happée par un trou noir est chauffée à des températures très élevées et émet une quantité importante de rayons X, avant d’être « absorbée ».
                    </p>
                <p>
                     Envisagée dès le xviiie siècle, dans le cadre de la mécanique classique, leur existence — prédite par la relativité générale — est une certitude pour la quasi-totalité des astrophysiciens et des physiciens théoriciens. Un trou noir n'étant détectable que par les effets de son champ gravitationnel, une observation quasi-directe de trous noirs a pu être établie en février 2016 par le biais de la première observation directe des ondes gravitationnelles, GW150914. Le 10 avril 2019, les premières images d'un trou noir sont publiées, celle de M87*, trou noir supermassif situé au cœur de la galaxie M87. Ces différentes observations apportent ainsi une confirmation supplémentaire de leur existence.
                    
                </p>
                <p>
                    Dans le cadre de la relativité générale, un trou noir est défini comme une singularité gravitationnelle occultée par un horizon absolu appelé horizon des évènements. Selon la physique quantique, un trou noir est susceptible de s'évaporer par l'émission d'un rayonnement de corps noir appelé rayonnement de Hawking.

                </p>
                <p>
                    Un trou noir ne doit pas être confondu avec un trou blanc, ni avec un trou de ver, ni avec la matière noire.
               
                </p>

            </section>
        </div>

    </main>
    <footer>

    </footer>
    <script src="../script.js"></script>
</body>

</html>