<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>JUPITER</h1>
        <p align="left"><a href="../systeme.html#planetes"><img src="../img/arrow.png" width="3%" height="20px"alt="">Planetes</a></p>
    </header> 
    <main>
        <section class="descraption">
            <aside>
                <figure>
                    <img src="../img/jupiter2.jpg" alt="">
                    <figcaption>- Image de Jupiter -</figcaption>
                </figure>
                <table>
                    <caption>Jupiter</caption>
                    <tbody>
                        <tr>
                            <td>Demi-grand axe</td>
                            <td>778 340 821 km</td>
                        </tr>
                        <tr>
                            <td>Périhélie</td>
                            <td>740 379 835 km</td>
                        </tr>
                        <tr>
                            <td>Aphélie</td>
                            <td>816 620 000 km</td>
                        </tr>
                        <tr>
                            <td>Excentricité</td>
                            <td>0.0000</td>
                        </tr>
                        <tr>
                            <td>Inclinaison sur l'écliptique</td>
                            <td>1.30400°</td>
                        </tr>
                        <tr>
                            <td>Période de révolution</td>
                            <td>4 335.3545 j</td>
                        </tr>
                        <tr>
                            <td>Rayon moyen</td>
                            <td>69 911.00 km</td>
                        </tr>
                        <tr>
                            <td>Aplatissement</td>
                            <td>0.0649</td>
                        </tr>
                        <tr>
                            <td>Masse</td>
                            <td>1.898x10<sup>27</sup> kg</td>
                        </tr>
                        <tr>
                            <td>Volume</td>
                            <td>1.4312x10<sup>15</sup> km<sup>3</sup></td>
                        </tr>
                        <tr>
                            <td>Densité</td>
                            <td>1.326 g/cm<sup>3</sup></td>
                        </tr>
                        <tr>
                            <td>Gravité de surface</td>
                            <td>24.79 m/s<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td>Vitesse de libération</td>
                            <td>6.020x10<sup>4</sup> m/s</td>
                        </tr>
                        <tr>
                            <td>Période de rotation</td>
                            <td>0.4135 j</td>
                        </tr>
                        <tr>
                            <td>Température</td>
                            <td>-148 °C</td>
                        </tr>
                        <tr>
                            <td>Inclinaison de l'axe</td>
                            <td>3.12°</td>
                        </tr>
                        <tr>
                            <td>Nom anglais</td>
                            <td>Jupiter</td>
                        </tr>
                    </tbody>
                </table>
            </aside>
            <div>
                <p style=" text-indent: 30px;"> Jupiter est la cinquième planète du système solaire. Il s'agit d'une
                    planète géante gazeuse. Elle effectue une rotation autour du Soleil en 11 ans, 10 mois et 15 jours.
                    Elle tourne sur elle-même en 9h55. Jupiter est le quatrième objet le plus clair du ciel (après le
                    Soleil, la Lune et Vénus). Elle est connue depuis la préhistoire.
                </p>
                <p>La découverte de Galilée, en 1610, des quatre satellites de Jupiter Io, Europa, Ganymède et Callisto
                    (maintenant appelés les lunes Galiléennes) fut la première découverte d'un mouvement non-centrée sur
                    la Terre. Ce fut un point majeur en faveur de la théorie héliocentrique de Copernic.
                </p>
                <p>Le diamètre de Jupiter est le diamètre limite pour une planète gazeuse. Si de la matière lui avait
                    été ajoutée, Jupiter se serait comprimée par gravité de telle manière que le rayon total
                    augmenterait seulement légèrement. (Si Jupiter avait été au moins 80 fois plus massive elle serait
                    une étoile).
                </p>
                <p>Jupiter étant une planète géante gazeuse elle ne possède pas de surface solide, sa matière gazeuse
                    devient simplement plus dense avec la profondeur (les rayons et diamètres cités pour les planètes
                    gazeuses ne peuvent pas être mesurés avec la surface donc ils le sont avec le niveau où la pression
                    est de 1 atmosphère). Ce que nous voyons, lorsque nous regardons ces planètes, ce sont les sommets
                    de leurs nuages.
                </p>
                <p>Jupiter a un champ magnétique énorme, beaucoup de plus fort que celui de la Terre. Sa magnétosphère
                    s'étend à plus de 650 millions de kilomètres (devant l'orbite de Saturne). Cette magnétosphère est
                    loin d'être sphérique, elle s'étend seulement à quelques millions de kilomètres dans la direction du
                    Soleil. Par conséquent les lunes de Jupiter baignent dans sa magnétosphère, ce qui explique
                    l'activité de Io. Jupiter émet plus d'énergie quelle n'en reçoit (70% de plus). L'intérieur de
                    Jupiter est chaud, son cœur est probablement approximativement à 20 000 K. Cette chaleur est
                    produite par un mécanisme de Kelvin-Helmholtz et par la compression gravitationnelle lente de la
                    planète. Observée depuis la Terre, Jupiter apparaît jaune-orange. Ceci est dû au Sulfure d'Ammonium
                    et au phosphore présent dans son atmosphère.
                </p>
            </div>
        </section>
        <section>
            <h2>STRUCTURE</h2>
            <img src="../img/jupiter3.jpg" alt="" align="right" style="margin-left: 20px; width: 250px;">
            <p style="text-indent: 30px;"> Jupiter pourrait être composée d'un noyau rocheux de la taille de la terre.
                Ce noyau serait entouré d'hydrogène en phase métallique qui occupe 78% du rayon de la planète. Cet état
                serait liquide, un peu à la manière du mercure. Il est dénommé ainsi car la pression est telle que les
                atomes d'hydrogène s'ionisent, formant un matériau conducteur. Cet hydrogène métallique est lui-même
                entouré d'hydrogène liquide, à son tour entouré d'hydrogène gazeux
            </p>
        </section>
    </main>
</body>

</html>