<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Mercure</title>
</head>
<body>
    <header>
        <h1>MERCURE</h1>
        <p align="left"><a href="../systeme.html#planetes"><img src="../img/arrow.png" width="3%" height="20px"alt="">Planetes</a></p>
    </header> 
    <main>
        <section class="descraption">
            <aside >
                <figure>
                    <img src="../img/mercure2.jpg" alt="">
                    <figcaption>- Image de Mercure -</figcaption>
                </figure>
                <table class="donnees">
                    <caption>Mercure</caption>
                    <tbody>
                        <tr >
                            <td>Demi-grand axe</td>
                            <td>57 909 050 km</td>
                        </tr>
                        <tr>
                            <td>Périhélie</td>
                            <td>46 001 200 km</td>
                        </tr>
                        <tr>
                            <td>Aphélie</td>
                            <td>69 816 900 km</td>
                        </tr>
                        <tr >
                            <td>Excentricité</td>
                            <td>0.0000</td>
                        </tr>
                        <tr>
                            <td>Inclinaison sur l'écliptique</td>
                            <td>7.00000°</td>
                        </tr>
                        <tr>
                            <td>Période de révolution</td>
                            <td>87.9693 j</td>
                        </tr>
                        <tr>
                            <td>Rayon moyen</td>
                            <td>2 439.70 km</td>
                        </tr>
                        <tr>
                            <td>Aplatissement</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Masse</td>
                            <td>3.3x10<sup>23</sup> kg</td>
                        </tr>
                        <tr>
                            <td>Volume</td>
                            <td>6.0827x10<sup>10</sup> km<sup>3</sup></td>
                        </tr>
                        <tr >
                            <td>Densité</td>
                            <td>5.427 g/cm<sup>3</sup></td>
                        </tr>
                        <tr>
                            <td>Gravité de surface</td>
                            <td>3.7 m/s<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td>Vitesse de libération</td>
                            <td>4250 m/s</td>
                        </tr>
                        <tr>
                            <td>Période de rotation</td>
                            <td>58.6462 j</td>
                        </tr>
                        <tr>
                            <td>Température</td>
                            <td>-173/427 °C</td>
                        </tr>
                        <tr >
                            <td>Inclinaison de l'axe</td>
                            <td>0.0352°</td>
                        </tr>
                        <tr >
                            <td>Nom anglais</td>
                            <td>Mercury</td>
                        </tr>
                    </tbody>
                </table>
            </aside>
            <div>
                <p style=" text-indent: 30px;">Mercure est la première planète du système solaire. Il s'agit d'une planète tellurique </p>
                <p>Mercure est connue depuis que les hommes s'intéressent au ciel nocturne ; la première civilisation à en avoir laissé des traces écrites est la civilisation sumérienne.</p>
                <p>Il s'agit de la planète la plus proche du Soleil où un seul jour dure deux années. En effet sous l'effet de marée gravitationnelle exercéee par le Soleil, Mercure subit un effet de résonance (Proche du Soleil, la force de marée augmente et accélère la rotation mais, à ce moment, l'interaction rotation/révolution ralentit la course de l'orbite et rétablit le rapport initial de deux tiers). Ainsi trois journées mercuriennes dureront deux années mercuriennes (3 tours sur elle-même pendant qu'elle effectuera 2 orbites autour du Soleil).
                </p>
                <p>Le Soleil est si proche de Mercure que, vu de celle-ci, il apparaît quatre fois plus gros que sur Terre et sept fois plus lumineux.
                </p>
                <p>Etant située entre le Soleil et la Terre on peut observer, à de rares occasions, le
                La surface de la planète a subi un important bombardement météoritique suivi d'une remontée de magma dans les premières années de son existence, et elle ressemble à celle de la Lune.
                </p>
                <p>On peut observer à sa surface des plaines, des falaises pouvant atteindre 3000 m de hauteur et plusieurs centaines de kilomètres de longueur. Sa surface, composée de roches poreuses et sombres, réfléchit faiblement la lumière solaire.
                </p>
                <p>Mercure est difficilement observable depuis la Terre du fait de sa proximité avec le Soleil, à tel point que le seul regret de Nicolae De Copernic avant de mourir est de ne jamais avoir pu l'observer.</p>
            </div>
        </section>
        <section>
                <h2>STRUCTURE</h2>
                <img src="../img/mercure3.jpg" alt="" align="right" style="margin-left: 20px; width: 250px;">
                <p style="text-indent: 30p;">Le cœur de Mercure est composé d'un noyau solide de 1000 km de rayon entouré d'une enveloppe liquide de 800 à 900 km d'épaisseur. Ce cœur correspond à un minimum de 55% de la masse de la planète. Il est constitué de fer.
                </p>
                <p>Cet énorme noyau est recouvert d'un manteau de silicate d'une épaisseur de 500 à 600 km, puis d'une croûte épaisse de 26 km.
                </p>
        </section>
    </main>   
</body>
</html>