<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Neptune</title>
</head>
<body>
    <!-- header qui content titre de la page et un lien pour retourner au systheme de navigation pour planete -->
    <header>
        <h1>NEPTUNE</h1>
        <p align="left"><a href="../systeme.html#planetes"><img src="../img/arrow.png" width="3%" height="20px"alt="">Planetes</a></p>
    </header> 
    <main>
                    <!-- une section description de sujet qui conten un aside avec mage et tableau -->
        <section class="descraption">
            <aside >
                <figure>
                    <img src="../img/neptune2.jpg" alt="">
                    <figcaption>- Image de Neptune -</figcaption>
                </figure>
                <table class="donnees">
                    <caption>Neptune</caption>
                    <tr class="donnees_l1">
                        <td>Demi-grand axe</td>
                        <td>4 498 396 441 km</td>
                    </tr>
                    <tr class="donnees_l2">
                        <td>Périhélie</td>
                        <td>4 459 753 056 km</td>
                    </tr>
                    <tr class="donnees_l1">
                        <td>Aphélie</a>
                        </td>
                        <td>4 537 039 826 km</td>
                    </tr>
                    <tr class="donnees_l2">
                        <td>Excentricité</td>
                        <td>0.0000</td>
                    </tr>
                    <tr class="donnees_l1">
                        <td>Inclinaison sur l'écliptique</td>
                        <td>1.76900&deg;</td>
                    </tr>
                    <tr class="donnees_l2">
                        <td>Période de révolution</td>
                        <td>60 224.9036 j</td>
                    </tr>
                    <tr class="donnees_l1">
                        <td>Rayon moyen</td>
                        <td>24 622.00 km</td>
                    </tr>
                    <tr class="donnees_l2">
                        <td>Aplatissement</td>
                        <td>0.0171</td>
                    </tr>
                    <tr class="donnees_l1">
                        <td>Masse</td>
                        <td>1.0247x10<sup>26</sup> kg</td>
                    </tr>
                    <tr class="donnees_l2">
                        <td>Volume</td>
                        <td>6.2525x10<sup>13</sup> km<sup>3</sup></td>
                    </tr>
                    <tr class="donnees_l1">
                        <td>Densité</td>
                        <td>1.638 g/cm<sup>3</sup></td>
                    </tr>
                    <tr class="donnees_l2">
                        <td>Gravité de surface</td>
                        <td>11.15 m/s<sup>2</sup></td>
                    </tr>
                    <tr class="donnees_l1">
                        <td>Vitesse de libération</td>
                        <td>2.356x10<sup>4</sup> m/s</td>
                    </tr>
                    <tr class="donnees_l2">
                        <td>Période de rotation</td>
                        <td>0.6712 j</td>
                    </tr>
                    <tr class="donnees_l1">
                        <td>Température</td>
                        <td>-214 &deg;C</td>
                    </tr>
                    <tr class="donnees_l2">
                        <td>Inclinaison de l'axe</td>
                        <td>28.3&deg;</td>
                    </tr>
                    <tr class="donnees_l1">
                        <td>Découvert par</td>
                        <td>Urbain Le Verrier, John Couch Adams, Johann Galle</td>
                    </tr>
                    <tr class="donnees_l2">
                        <td>Découvert le</td>
                        <td>23/09/1846</td>
                    </tr>
                    <tr class="donnees_l1">
                        <td>Nom anglais</td>
                        <td>Neptune</td>
                    </tr>
                </table>

            </aside>
            <div>
                <p style="text-indent: 30px;">Neptune est la huitième planète en partant du Soleil. Elle orbite à environ 4 milliards de kilomètres et effectue une rotation autour du Soleil en 165 ans.  Il s'agit d'une planète géante de glaces.
                </p>
                <p>Neptune est la première planète découverte grâce à des calculs mathématiques.
                </p>
                <p>En effet, cherchant à expliquer les anomalies observées dans le mouvement d'Uranus, le mathématicien Jean Joseph Urbain Le Verrier déduit l'existence de Neptune. Il calcula sa position et sa masse. 
                </p>
                <p>Puis il s'adressa à son ami Johann Gottfried Galle qui découvrit la planète à 52'' de la position indiquée par Le Verrier, le 23 septembre 1846.
                </p>
                <p>Cette planète avait déjà été observée en 1795 par Lalande qui l'avait prise pour une étoile. Et surtout, elle avait été observée 234 ans avant sa découverte par Galilée le 28 décembre 1612 alors qu'il observait Jupiter et ses quatre satellites galiléens.
                </p>
                <p>De plus, Le Verrier avait été devancé par un étudiant de Cambridge, John Adams qui avait localisé la planète dès 1843, mais ses travaux n'avaient pas été pris au sérieux.
                </p>
                <p>Voyager 2 fut le seul vaisseau spatial à s'approcher de cette planète (le 25 août 1989). Tout ce que nous savons à l'heure actuelle sur Neptune provient essentiellement de cette rencontre.
                </p>
                <p>Neptune tourne sur elle-même en 16 h 06 min.
                </p>
                <p>La composition de Neptune est probablement similaire à celle d'Uranus: des "glaces" et roches diverses avec 15% d'hydrogène et un peu d'hélium. Tout comme Uranus, mais contrairement à Jupiter et Saturne, elle ne posséderait pas de structure interne; elle serait plutôt plus ou moins uniforme. Elle possède fort probablement un petit noyau (approximativement de la masse de la Terre) de matériel rocheux. Son atmosphère est principalement composée d'hydrogène et d'hélium avec de petites quantités de méthane.
                </p>
                <p>Son atmosphère est composée essentiellement d'hydrogène et d'hélium. Sa couleur bleue est le résultat de l'absorption de la lumière rouge par le méthane de son atmosphère.
                </p>
                <p>Neptune possède 14 satellites dont Triton.
                </p>
                <p>Neptune possède des anneaux. Des observations terrestres ne révélèrent que de faibles arcs à la place d'anneaux complets mais les images de Voyager 2 montrèrent des anneaux complets avec des parties brillantes.
                </p>
                <p>Les anneaux de Neptune sont divisés en 5 anneaux semblables : Galle, Le Verrier, Lassell, Arago et Adams.
                </p>
                
            </div>
        </section>
         <!-- une section structure qui contien une image et des paragrapges -->
        <section>
                <h2>STRUCTURE</h2>
                <img src="../img/neptune3.jpg" alt="" align="right" style="margin-left: 20px; width: 250px;">
                <p style="text-indent: 30px;">Neptune possède très probablement un noyau solide de silicates et de fer d'à peu près la masse de la Terre.
                </p>
                <p>Au-dessus de ce noyau, Neptune présenterait une composition assez uniforme (roches en fusion, glaces, 15 % d'hydrogène et un peu d'hélium) et non pas une structure " en couches " comme Jupiter et Saturne.
                </p>
                <p>Enfin, Neptune possède une atmosphère composé d'hydrogène et d'hélium.
                </p>
        </section>
    </main>   
</body>
</html>