<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Saturn</title>
</head>

<body>
    <header>
        <h1>SATURN</h1>
        <p align="left"><a href="../systeme.html#planetes"><img src="../img/arrow.png" width="3%" height="20px"alt="">Planetes</a></p>
    </header>
    <main>
        <section class="descraption">
            <aside>
                <figure>
                    <img src="../img/saturn4.jpg" alt="planete saturn" >
                    <figcaption>- Image de Saturn -</figcaption>
                </figure>
                <table >
                    <caption>Saturne</caption>
                    <tbody>
                        <tr >
                            <td>Demi-grand axe</td>
                            <td>1 426 666 422 km</td>
                        </tr>
                        <tr >
                            <td>Périhélie</td>
                            <td>1 349 823 615 km</td>
                        </tr>
                        <tr >
                            <td>Aphélie</td>
                            <td>1 503 509 229 km</td>
                        </tr>
                        <tr >
                            <td>Excentricité</td>
                            <td>0.0000</td>
                        </tr>
                        <tr >
                            <td>Inclinaison sur
                                    l'écliptique</td>
                            <td>2.48500°</td>
                        </tr>
                        <tr >
                            <td>Période de révolution</td>
                            <td>10 757.7365 j</td>
                        </tr>
                        <tr >
                            <td>Rayon moyen</td>
                            <td>58 232.00 km</td>
                        </tr>
                        <tr >
                            <td>Aplatissement</td>
                            <td>0.0979</td>
                        </tr>
                        <tr >
                            <td>Masse</td>
                            <td>5.68x10<sup>26</sup> kg</td>
                        </tr>
                        <tr >
                            <td>Volume</td>
                            <td>8.2713x10<sup>14</sup> km<sup>3</sup></td>
                        </tr>
                        <tr >
                            <td>Densité</td>
                            <td>0.687 g/cm<sup>3</sup></td>
                        </tr>
                        <tr >
                            <td>Gravité de surface</td>
                            <td>10.4 m/s<sup>2</sup></td>
                        </tr>
                        <tr >
                            <td>Vitesse de libération</td>
                            <td>3.609x10<sup>4</sup> m/s</td>
                        </tr>
                        <tr >
                            <td>Période de rotation</td>
                            <td>0.4440 j</td>
                        </tr>
                        <tr >
                            <td>Température</td>
                            <td>-178 °C</td>
                        </tr>
                        <tr >
                            <td>Inclinaison de l'axe</td>
                            <td>26.73°</td>
                        </tr>
                        <tr >
                            <td>Nom anglais</td>
                            <td>Saturn</td>
                        </tr>
                    </tbody>
                </table>

            </aside>
            <div>
                <p style=" text-indent: 30px;">
                    Saturne est la deuxième plus grosse planète du système solaire et la sixième en partant du Soleil.
                    Il s'agit d'une planète géante gazeuse Sa masse vaut 95 fois celle de la Terre, et son volume 900 fois. 
                      Elle accomplit une révolution en 29 années et 167 jours. 
                      Saturne est la moins dense des planètes; : sa densité (0.7) est plus faible que celle de l'eau.
                </p>
                <p >
                    Comme Jupiter, Saturne est composée approximativement de 75% d'hydrogène et de 25% d'hélium avec des
                    traces d'eau, de méthane et de gaz d'ammoniac, semblable à la composition de la Nébuleuse Solaire
                    primordiale lors de la formation du système solaire.
                </p>
                <p >
                    Les bandes si proéminentes sur Jupiter sont beaucoup plus faibles sur Saturne. Elles sont aussi
                    beaucoup plus larges près l'équateur. Les détails aux sommets des nuages sont invisibles depuis la
                    Terre et ce ne fut qu'après la visite des sondes Voyager que tous les détails de la circulation
                    atmosphérique de Saturne purent être étudiés.
                </p>
                <p >
                    Saturne compte 82 satellites en rotation autour d'elle. Après le passage des sondes Voyager en 1980,
                    les astronomes connaissaient 10 satellites. Le premier fut Titan, découvert par Huygens en 1655. Le
                    passage des sondes Voyager 1 etVoyager 2 permit la découverte
                    de 7 lunes supplémentaires, suivies 10 ans plus tard, par la découverte de Pan. Fin 2000, l'Union
                    Astronomique Internationale a annoncé coup sur coup la découverte de 4 lunes le 26 octobre, 2 autres
                    le 18 novembre et enfin 6 dernières le 7 décembre. Avec l'arrivée de la sonde 
                        Cassini dans la banlieue proche
                    de Saturne de nouvelles découvertes ont eu lieu, 3 en 2004, puis 16 autres la même année. Un
                    satellite fut découvert en 2005 puis 8 en 2006, 4 en 2007, un en 2008, un en 2009 et d'autres sont à
                    prévoir. Il existe également 3 satellites non confirmés : S/2004 S3, S/2004 S4 et S/2004 S6. En
                    octobre 2019, une équipe d'astronomes observent 20 nouveaux satellites.
                </p>

            </div>
        </section>
        <section>
            <h2>STRUCTURE</h2>
            <img src="../img/struc_saturne.jpg" alt="" align="right" style="margin-left: 20px; width: 250px;">
            <p style="text-indent: 30px;">

                Saturne possède un noyau rocheux de silicates et de fer. Il a une température très élevée, atteignant
                probablement 12 000 K.
            </p>
            <p>
                Ce noyau est entouré d'une couche d'hydrogène métallique, puis d'hydrogène liquide, puis enfin
                d'hydrogène gazeux.
            </p>

        </section>
    </main>
</body>

</html>