<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Uranus</title>
</head>
<body>
    <header>
        <h1>URANUS</h1>
        <p align="left"><a href="../systeme.html#planetes"><img src="../img/arrow.png" width="3%" height="20px"alt="">Planetes</a></p>
    </header> 
    <main>
        <section class="descraption">
            <aside >
                <figure>
                    <img src="../img/uranus2.jpg" alt="">
                    <figcaption>- Image de Uranus -</figcaption>
                </figure>
                <table class="donnees">
                    <caption>Uranus</caption>
                    <tbody>
                        <tr >
                            <td>Demi-grand axe</td>
                            <td>2 870 658 186 km</td>
                        </tr>
                        <tr >
                            <td>Périhélie</td>
                            <td>2 734 998 229 km</td>
                        </tr>
                        <tr >
                            <td>Aphélie</td>
                            <td>3 006 318 143 km</td>
                        </tr>
                        <tr >
                            <td>Excentricité</td>
                            <td>0.0000</td>
                        </tr>
                        <tr >
                            <td>Inclinaison sur l'écliptique</td>
                            <td>0.77200°</td>
                        </tr>
                        <tr >
                            <td>Période de révolution</td>
                            <td>30 687.1500 j</td>
                        </tr>
                        <tr >
                            <td>Rayon moyen</td>
                            <td>25 362.00 km</td>
                        </tr>
                        <tr >
                            <td>Aplatissement</td>
                            <td>0.0229</td>
                        </tr>
                        <tr >
                            <td>Masse</td>
                            <td>8.683x10<sup>25</sup> kg</td>
                        </tr>
                        <tr >
                            <td>Volume</td>
                            <td>6.8334x10<sup>13</sup> km<sup>3</sup></td>
                        </tr><tr >
                            <td>Densité</td>
                            <td>1.270 g/cm<sup>3</sup></td>
                        </tr>
                        <tr >
                            <td>Gravité de surface</td>
                            <td>8.87 m/s<sup>2</sup></td>
                        </tr>
                        <tr >
                            <td>Vitesse de libération</td>
                            <td>2.138x10<sup>4</sup> m/s</td>
                        </tr>
                        <tr >
                            <td>Période de rotation</td>
                            <td>-0.7183 j</td>
                        </tr>
                        <tr >
                            <td>Température</td>
                            <td>-216 °C</td>
                        </tr>
                        <tr >
                            <td>Inclinaison de l'axe</td>
                            <td>97.77°</td>
                        </tr>
                        <tr >
                            <td>Découvert par</td>
                            <td>William Herschel</td>
                        </tr>
                        <tr >
                            <td>Découvert le</td>
                            <td>13/03/1781</td>
                        </tr>
                        <tr >
                            <td>Nom anglais</td>
                            <td>Uranus</td>
                        </tr>
                    </tbody>
                </table>

            </aside>
            <div>
                <p style="text-indent: 30px;">Uranus est la première planète découverte au début de l'époque moderne. C'est la septième planète en partant du Soleil. Il s'agit d'une planète géante de glaces.
                </p>
                <p>Elle a été découverte par William Herschel le 13 mars 1781. Elle avait été observée plus tôt, mais elle avait été confondue avec une étoile. En 1690, John Flamsteed l'a cataloguée comme 34 Tauri.
                </p>
                <p>Elle est pratiquement invisible à l'œil nu.
                </p>
                <p>Il lui faut 84 années et 7 jours pour accomplir une révolution autour du Soleil.
                </p>
                <p>Uranus est composée principalement de rocs et de divers types de glace. Contrairement à Jupiter et Saturne, elle n'est pas composée uniquement d'hydrogène. Elle est composée à 83% d'Hydrogène et à 13% d'Hélium. De plus, on note la présence, dans la couche la plus externe de la planète, de méthane gazeux (environ 2%). La couleur bleue d'Uranus est due à cette couche de méthane qui absorbe la lumière rouge.
                </p>
                <p> Uranus n'a reçu la visite que d'une seule sonde : la sonde Voyager 2 le 24 janvier 1986.
                </p>
                <p>La particularité de cette planète est que son axe de rotation est incliné de 80% par rapport à son orbite, ainsi Uranus semble rouler sur son orbite alors que les autres planètes se comportent comme des toupies. Uranus possède 27 satellites, Titania, Umbriel, Ariel, Miranda, Obéron pour les plus connus.
                </p>
                <p>Uranus est entouré de 13 anneaux  sombres. Les  sont Zêta, 6, 5, 4, Alpha, Bêta, Êta, Gamma, Delta, Lambda, Epsilon, Nu et Mu.
                </p>
                <p>Contrairement aux autres astres du système solaire, les satellites d'Uranus prennent leurs noms dans les écrits de Shakespeare et de Pope.
                </p>
                <p>Tous ces satellites et ces anneaux se situent sur le plan équatorial de la planète, ce qui signifie que l'orientation étrange de l'axe de rotation a eu lieu lors de la formation du système solaire et non plus tard. Sinon ses satellites et ses anneaux &quot;rouleraient&quot; sur l'écliptique.
                </p>
            </div>
        </section>
        <section>
                <h2>STRUCTURE</h2>
                <img src="../img/uranus3.jpg" alt="" align="right" style="margin-left: 20px; width: 250px;">
                <p style="text-indent: 30px;"> Jupiter pourrait être composée d'un noyau rocheux de la taille de la terre. Ce noyau serait entouré d'hydrogène en phase métallique qui occupe 78% du rayon de la planète. Cet état serait liquide, un peu à la manière du mercure. Il est dénommé ainsi car la pression est telle que les atomes d'hydrogène s'ionisent, formant un matériau conducteur. Cet hydrogène métallique est lui-même entouré d'hydrogène liquide, à son tour entouré d'hydrogène gazeux
                </p>
                <p>Uranus possède un noyau solide de silicates et de fer d'environ 7 500 km de diamètre.
                </p>
                <p>Ce noyau est entouré d'un manteau composé de glace d'eau mélangée à de l'hélium, du méthane et de l'ammoniac sur une épaisseur de 10 000 km.
                </p>
                <p>Enfin une couche superficielle d'hydrogène et d'hélium liquide, épaisse d'environ 7 600 km qui se fond graduellement dans l'atmosphère, recouvre le manteau.
                </p>
        </section>
    </main>   
</body>
</html>