<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Venus</title>
</head>
<body>
    <!-- header qui content titre de la page et un lien pour retourner au systheme de navigation pour planete -->
    <header>
        <h1>VENUS</h1>
        <p align="left"><a href="../systeme.html#planetes"><img src="../img/arrow.png" width="3%" height="20px"alt="">Planetes</a></p>
    </header> 
    <main>
        <!-- une section description de sujet qui conten un aside avec mage et tableau -->
        <section class="descraption">
            <aside >
                <figure>
                    <img src="../img/venus2.jpg" alt="">
                    <figcaption>- Image de Venus -</figcaption>
                </figure>
                <table>
                    <caption>Vénus</caption>
                    <tbody>
                        <tr >
                            <td>Demi-grand axe</td>
                            <td>108 208 475 km</td>
                        </tr>
                        <tr >
                            <td>Périhélie</td>
                            <td>107 477 000 km</td>
                        </tr>
                        <tr >
                            <td>Aphélie</td>
                            <td>108 939 000 km</td>
                        </tr>
                        <tr>
                            <td>Excentricité</td>
                            <td>0.0000</td>
                        </tr>
                        <tr >
                            <td>Inclinaison sur l'écliptique</td>
                            <td>3.39000°</td>
                        </tr>
                        <tr>
                            <td>Période de révolution</td>
                            <td>224.7010 j</td>
                        </tr>
                        <tr >
                            <td>Rayon moyen</td>
                            <td>6 051.80 km</td>
                        </tr>
                        <tr>
                            <td>Aplatissement</td>
                            <td>0</td>
                        </tr>
                        <tr >
                            <td>Masse</td>
                            <td>4.867x10<sup>24</sup> kg</td>
                        </tr>
                        <tr>
                            <td>Densité</td>
                            <td>5.243 g/cm<sup>3</sup></td>
                        </tr>
                        <tr >
                            <td>Gravité de surface</td>
                            <td>8.87 m/s<sup>2</sup></td>
                        </tr>
                        <tr>
                            <td>Vitesse de libération</td>
                            <td>1.036x10<sup>4</sup> m/s</td>
                        </tr>
                        <tr>
                            <td>Période de rotation</td>
                            <td>-243.018 j</td>
                        </tr>
                        <tr >
                            <td>Température</td>
                            <td>462 °C</td>
                        </tr>
                        <tr >
                            <td>Inclinaison de l'axe</td>
                            <td>177.36°</td>
                        </tr>
                        <tr >
                            <td>Nom anglais</td>
                            <td>Venus</td>
                        </tr>
                    </tbody>
                </table>
            </aside>
            <div>
                <p style=" text-indent: 30px;"> Vénus est la deuxième planète du système solaire. Il s'agit d'une planète tellurique.
                    C'est l'astre le plus brillant du ciel après le Soleil et la Lune, c'est elle que l'on
                    appelle l'étoile du berger.
                </p>
                <p>Vénus est connue depuis l'âge de bronze ; les Babyloniens l'avait associée à la
                    déesse Ishtar.
                </p>
                <p>Vénus est, plus qu'aucune autre, semblable à la Terre.
                </p>
                <p>Elle tourne autour du Soleil en 225 jours et sur elle-même en 243 jours dans le
                    sens rétrograde.
                </p>
                <p>Vénus étant une planète inférieure, on peut observer des phases comme la Lune. Ces observations
                    permirent à Galilée d'affirmer que la théorie d'héliocentrisme de Copernic était vraie. A de rares
                    occasions, on peut également observer le transit de Vénus devant le Soleil.
                </p>
                <p>Vénus a reçu la visite de nombreuses sondes, la première fut Mariner 2 en 1962, puis par Pioneer Venus
                    et Venera 7. La première sonde à se poser sur Vénus fut Venera 9 qui transmit la première photo de sa
                    surface. Enfin, plus récemment, l'orbiteur Magellan nous a fourni une carte détaillée de sa surface en
                    utilisant un radar. (Cartographie de vénus)
                    La pression à la surface de Venus est de 90 atmosphères (la même qu'à 1 km sous le niveau de la mer). 
                </p>
                <p>L'atmosphère est composée essentiellement de dioxyde de carbone (environ 95% de CO2, 5% d'azote). 
                </p>
                <p>Elle possède plusieurs couches de nuages, de plusieurs kilomètres d'épaisseur, qui sont composés d'acide
                    sulfurique. Ces nuages rendent la surface invisible pour un observateur placé en orbite. 
                </p>
                <p>Cette atmosphère dense provoque un effet de serre important et la température à la surface peut
                    atteindre 740 K.
                </p>
                <p>Des vents violents (350 km/h) soufflent au sommet des nuages alors qu'au niveau du sol ils soufflent à
                    moins d'un kilomètre par heure.
                    Les paysages sont très variés, généralement pierreux et désertiques.
                </p>
            </div>
        </section>
         <!-- une section structure qui contien une image et des paragrapges -->
        <section>
                <h2>STRUCTURE</h2>
                <img src="../img/venus3.jpg" alt="" align="right" style="margin-left: 20px; width: 250px;">
                <p style="text-indent: 30px;"> Le noyau de Vénus est constitué de deux parties : un noyau externe constitué de fer et de nickel liquides qui représenterait environ 30 % du rayon de la planète ; un noyau interne composé de fer et de nickel solides qui représenterait environ 17 % du rayon de Vénus. Vénus posséderait un manteau représentant environ 52,66 % du rayon de la planète, composé essentiellement de silicates et d'oxydes de métaux. La croûte de Vénus est constituée d'un seul bloc de 20 km d'épaisseur environ. Il ne s'agit pas de plaques tectoniques et elle est percée de nombreux volcans.
                </p>
        </section>
    </main>   
</body>
</html>